.containerNilproduct {
  padding: 10px;
  border: 2px solid transparent;
  box-sizing: border-box;
  transition: all 0.7s ease;
  color: rgba(255, 255, 255, 0.7);
  margin-top: 10px;
  margin-bottom: 10px;
}

.containerNilproduct:hover {
  border-color: white;
  color: rgba(255, 255, 255, 1);
}

.centeredContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.nilProducts {
  display: flex;
  align-items: stretch;
  padding: 1rem 0;
  width: 50%;
}

.productImage {
  margin: 0;
  padding: 0;
  width: 100%;
  object-fit: cover;
}

.col {
  flex: 1;
}
